:root{
    --green: #49aa26;
    --light-green: #3dd705;
    --red: #e92929;
    --black: #090909;
    --gray: #8a8a8a;
    --ice-white: #f0f2f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%; /*15px*/
}

body{
    background: var(--ice-white);
    font-family: 'Poppins', sans-serif;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* --------------------------------------------------------  */

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: auto;
    padding: 20px;
}

.flexbox-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.flexbox-timer {
    padding: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.canvas {
    width: 1000px;
    height: 700px;
    background-color: var(--black);
    border: 0.25rem var(--gray) solid;
    border-radius: 0.4rem;
}

.form_main button {
    font-size: 1.25rem;
    display: inline;
    border-radius: 1.5rem;
    margin-bottom: 5.5rem;
}

/* #start {
    background-color: var(--green);
}

#reset {
    background-color: var(--black);
} */

.timer {
    margin: auto;

    padding: 1.125rem;
    font-size: 1.25rem;

    border-radius: 0.4rem;
    
    color: #fff;
    background-color: var(--gray);
}

.counter button {
    padding: 5px;
    display: inline;
    font-size: 20px;
    border-radius: 20%;
    background-color: white;
    color: black;
}

#bolas {
    margin: auto;
}

.titulo {
    font-size: 16px;
    padding: 10px;
}


table {
    display: block;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
  
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    text-align: center;
}
  
tr:nth-child(odd) {
    background-color: white;
}

input {
    padding: 5px;
    font-size: 16px;
    width: 80px;
}

.graph {
    width: fit-content;
}

.divider{
    padding: 0 100%;
    border-bottom: 1px solid var(--gray);

    opacity: 0;
    visibility: hidden;
}

.divider.active{
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.mycanvas {
    margin: 1rem;
    padding: 1rem;
    background-color: var(--ice-white);
    width: 1000px;
    height: 0;
    overflow: hidden;
}

li{
    list-style: none;
}

.items{
    color: black;
}

.list {
    margin: auto;

    padding: 1.125rem;
    font-size: 1.25rem;

    border-radius: 0.4rem;
    
    color: #fff;
    background-color: var(--gray);

    opacity: 0;
    visibility: hidden;
}

.list.active{
    opacity: 1;
    visibility: visible;
    z-index: 1;
}